
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 150
        repeat-rate 40
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 0
    default-column-width { proportion 0.5; }
    focus-ring {
        width 1
        active-color "#43a9e0"
        inactive-color "#595959"
    }
    border { off }
}

cursor {}
animations {}
